flask
flask-cors
flask-socketio
flask-bcrypt
flask-jwt-extended
Flask-SQLAlchemy

hl7apy>=1.3.0
google-generativeai
google-auth
python-dotenv

pydicom
pynetdicom

faker 
numpy

eventlet
gunicorn

sqlalchemy
psycopg2-binary # PostgreSQL Driver
alembic  

pydantic
pydantic-settings

requests
pydantic[email]

Pillow
pytest
pika
kubernetes>=29.0.0
