apiVersion: v1
kind: Pod
metadata:
  name: image-debug
  namespace: yeeter
spec:
  restartPolicy: Never
  containers:
  - name: ctr
    image: alpine:3.19
    command: ["/bin/sh", "-c", "trap : TERM INT; sleep infinity & wait"]
    securityContext:
      privileged: true
    resources:
      requests:
        cpu: 50m
        memory: 256Mi
      limits:
        cpu: 500m
        memory: 1Gi
    volumeMounts:
    - name: containerd-sock
      mountPath: /run/k3s/containerd
      readOnly: false
    - name: host-root
      mountPath: /host
      readOnly: true
  volumes:
  - name: containerd-sock
    hostPath:
      path: /run/k3s/containerd
      type: Directory
  - name: host-root
    hostPath:
      path: /
      type: Directory
